################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/PokerGame/.vs/PokerGame/v16
/PokerGame/obj

PokerGUI/**
